		body {
            margin: 0;
            padding: 0;
            font-family: "Inter", Helvetica;
            background-color: white;
        }
        .filter-container {
            text-align: left;
            margin: 25px 0;
            margin-left: 130px;
        }
        /* 수정된 filter-button 스타일 */
        .filter-button {
        	font-family: "Inter", Helvetica !important;
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            text-decoration: none;
            color: #a2a2a2;
            font-weight: bold;
            transition: color 0.3s ease;
        }
        .filter-button:hover {
            font-weight: bold;
            color: #8A2BE2;
        }
        .selected-filters {
            text-align: center;
            margin: 20px 0;
        }
        /* 수정된 selected-filter 스타일 */
        .selected-filter {
            display: inline-block;
            padding: 5px 10px;
            margin: 5px;
            background-color: #e9ecef;
            border-radius: 15px;
            color: #495057;
        }
        .selected-filter a {
            margin-left: 5px;
            color: #495057;
            text-decoration: none;
            font-weight: bold;
        }
        .dress-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 100px;
            margin-top: 20px;
        }
        .dress-item {
            width: 22%;
            margin: 18px;
            text-align: left;
            margin-bottom: 70px;
            margin-top: 10px;
        }
        .dress-item img {
		    width: 300px; /* 고정 너비 */
		    height: 300px; /* 고정 높이 */
		    object-fit: cover; /* 이미지를 요소 크기에 맞게 조정하면서 비율 유지, 넘치는 부분은 자름 */
		    object-position: center; /* 이미지를 가운데에 위치시킴 */
		    border-radius: 1px;
        }
        .pagination {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 100px;
        }
        .pagination a {
            margin: 0 5px;
            text-decoration: none;
            color: black;
        }
        .pagination strong {
            margin: 0 5px;
            color: #000;
            font-weight: bold;
        }
        .region-select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f0f0f0;
        }
        .region-filter {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .filter-title {
        	font-family: "Inter", Helvetica !important;
            margin-right: 10px;
            font-weight: bold;
        }
        .dress-item-detail {
        	margin-top: -17px;
        }
        .dress-item-detail h3 {
        	margin-top: 20px !important;
        	font-size: 20px;
        	font-weight: bold;
        	margin-bottom: 3px;
		    font-family: "Inter", Helvetica;
		}
		.dress-item-detail p {
		    margin-top: 0; /* p 요소의 위쪽 마진을 없앱니다 */
		    font-family: "Inter", Helvetica;
		    font-weight: 500;
		    color: #8e8e8e;
		}
		.filter-container h1 { 
			font-family: "Inter", Helvetica !important;
			font-size: 30px !important;
			font-weight: bold !important;
			margin-top: 250px !important;
			margin-bottom: 50px !important;
		}