:root {
  --wwwsinbuyacomnero: rgba(255, 255, 255, 1);
  --wwwsinbuyacomconcrete: rgba(243, 243, 243, 1);
  --wwwsinbuyacommine-shaft: rgba(51, 51, 51, 1);
  --wwwsinbuyacomalto: rgba(221, 221, 221, 1);
  --wwwsinbuyacomamaranth: rgba(239, 64, 74, 1);
  --wwwsinbuyacomboulder: rgba(117, 117, 117, 1);
  --wwwsinbuyacompunch: rgba(217, 49, 49, 1);
  --wwwsinbuyacomshark: rgba(33, 37, 41, 1);
  --wwwsinbuyacomvalencia: rgba(215, 48, 50, 1);
  --wwwsinbuyacomblack-15: rgba(0, 0, 0, 0.15);
  --wwwsinbuyacomdove-gray: rgba(102, 102, 102, 1);
  --wwwsinbuyacomsilver: rgba(191, 191, 191, 1);
  --wwwsinbuyacomabbey: rgba(73, 80, 87, 1);
  --wwwsinbuyacomoslo-gray: rgba(134, 142, 150, 1);
  --wwwsinbuyacomathens-gray: rgba(233, 236, 239, 1);
  --wwwsinbuyacomblack-5: rgba(0, 0, 0, 0.05);
  --wwwsinbuyacomalabaster: rgba(249, 249, 249, 1);
  --wwwsinbuyacomtuna: rgba(53, 55, 68, 1);
  --wwwsinbuyacommanatee: rgba(150, 150, 155, 1);
  --wwwsinbuyacomblack: rgba(0, 0, 0, 1);
  --wwwsinbuyacomcaribbean-green: rgba(255, 195, 171, 1);
  --wwwsinbuyacomnero-02: rgba(255, 255, 255, 0);
  --wwwsinbuyacomrobins-egg-blue: rgba(255, 225, 210, 1);
  --wwwsinbuyacombright-turquoise: rgba(255, 240, 233, 1);
  --wwwsinbuyacomespresso: rgba(94, 53, 25, 1);
  --wwwsinbuyacomtrout-93: rgba(73, 75, 86, 0.93);
  --wwwsinbuyacomblack-50: rgba(0, 0, 0, 0.5);
  --wwwsinbuyacomwild-sand: rgba(245, 245, 245, 1);
  --wwwsinbuyacomalizarin-crimson: rgba(219, 41, 41, 1);
  --wwwsinbuyacomazalea: rgba(245, 198, 203, 1);
  --wwwsinbuyacompersian-plum: rgba(114, 28, 36, 1);
  --wwwsinbuyacommercury: rgba(229, 229, 229, 1);
  --wwwsinbuyacomtamarillo: rgba(170, 19, 19, 1);
  --wwwsinbuyacomgallery: rgba(238, 238, 238, 1);
  --wwwsinbuyacomtundora: rgba(69, 69, 69, 1);
  --wwwsinbuyacomdusty-gray: rgba(153, 153, 153, 1);
  --wwwsinbuyacomemperor: rgba(85, 85, 85, 1);
  --wwwsinbuyacomnero-75: rgba(255, 255, 255, 0.75);
  --wwwsinbuyacomaqua-deep: rgba(255, 85, 68, 1);
  --wwwsinbuyacomcrusoe: rgba(255, 70, 18, 1);
  --wwwsinbuyacomchetwode-blue: rgba(128, 134, 220, 1);
  --wwwsinbuyacomseashell: rgba(241, 240, 240, 1);
  --wwwsinbuyacomfern: rgba(95, 183, 126, 1);
  --wwwsinbuyacomfun-green: rgba(255, 95, 63, 1);
  --wwwsinbuyacomdodger-blue: rgba(50, 134, 243, 1);
  --wwwsinbuyacomsaffron: rgba(247, 197, 45, 1);
  --wwwsinbuyacomblack-60: rgba(0, 0, 0, 0.6);
  --wwwsinbuyacomsilver-chalice: rgba(170, 170, 170, 1);
  --www-sinbuya-com-inter-regular-12-49-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-12-49-font-weight: 400;
  --www-sinbuya-com-inter-regular-12-49-font-size: 12.4921875px;
  --www-sinbuya-com-inter-regular-12-49-letter-spacing: -0.7799999713897705px;
  --www-sinbuya-com-inter-regular-12-49-line-height: 18.979999542236328px;
  --www-sinbuya-com-inter-regular-12-49-font-style: normal;
  --www-sinbuya-com-inter-regular-12-7-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-12-7-font-weight: 400;
  --www-sinbuya-com-inter-regular-12-7-font-size: 12.6953125px;
  --www-sinbuya-com-inter-regular-12-7-letter-spacing: -0.7799999713897705px;
  --www-sinbuya-com-inter-regular-12-7-line-height: 18.979999542236328px;
  --www-sinbuya-com-inter-regular-12-7-font-style: normal;
  --www-sinbuya-com-inter-regular-11-98-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-11-98-font-weight: 400;
  --www-sinbuya-com-inter-regular-11-98-font-size: 11.984375px;
  --www-sinbuya-com-inter-regular-11-98-letter-spacing: -0.7799999713897705px;
  --www-sinbuya-com-inter-regular-11-98-line-height: 18.979999542236328px;
  --www-sinbuya-com-inter-regular-11-98-font-style: normal;
  --www-sinbuya-com-inter-medium-14-3-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-14-3-font-weight: 500;
  --www-sinbuya-com-inter-medium-14-3-font-size: 14.300000190734863px;
  --www-sinbuya-com-inter-medium-14-3-letter-spacing: -1.5px;
  --www-sinbuya-com-inter-medium-14-3-line-height: 21px;
  --www-sinbuya-com-inter-medium-14-3-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-14-3-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-14-3-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-14-3-font-size: 14.300000190734863px;
  --www-sinbuya-com-inter-extra-bold-14-3-letter-spacing: -1.5px;
  --www-sinbuya-com-inter-extra-bold-14-3-line-height: 21px;
  --www-sinbuya-com-inter-extra-bold-14-3-font-style: normal;
  --www-sinbuya-com-inter-bold-12-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-12-font-weight: 700;
  --www-sinbuya-com-inter-bold-12-font-size: 12px;
  --www-sinbuya-com-inter-bold-12-letter-spacing: 0px;
  --www-sinbuya-com-inter-bold-12-line-height: 18px;
  --www-sinbuya-com-inter-bold-12-font-style: normal;
  --www-sinbuya-com-inter-medium-24-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-24-font-weight: 500;
  --www-sinbuya-com-inter-medium-24-font-size: 24px;
  --www-sinbuya-com-inter-medium-24-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-24-line-height: 26.399999618530273px;
  --www-sinbuya-com-inter-medium-24-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-23-81-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-23-81-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-23-81-font-size: 23.8125px;
  --www-sinbuya-com-inter-extra-bold-23-81-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-23-81-line-height: 26.639999389648438px;
  --www-sinbuya-com-inter-extra-bold-23-81-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-14-88-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-14-88-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-14-88-font-size: 14.8828125px;
  --www-sinbuya-com-inter-extra-bold-14-88-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-14-88-line-height: 16.5px;
  --www-sinbuya-com-inter-extra-bold-14-88-font-style: normal;
  --www-sinbuya-com-inter-medium-20-67-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-20-67-font-weight: 500;
  --www-sinbuya-com-inter-medium-20-67-font-size: 20.671875px;
  --www-sinbuya-com-inter-medium-20-67-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-20-67-line-height: 23.100000381469727px;
  --www-sinbuya-com-inter-medium-20-67-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-16-31-strikethrough-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-16-31-strikethrough-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-16-31-strikethrough-font-size: 16.3125px;
  --www-sinbuya-com-inter-extra-bold-16-31-strikethrough-letter-spacing: 0px;
  --www-sinbuya-com-inter-extra-bold-16-31-strikethrough-line-height: 18px;
  --www-sinbuya-com-inter-extra-bold-16-31-strikethrough-font-style: normal;
  --www-sinbuya-com-inter-black-21-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-black-21-font-weight: 900;
  --www-sinbuya-com-inter-black-21-font-size: 21px;
  --www-sinbuya-com-inter-black-21-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-black-21-line-height: 23.100000381469727px;
  --www-sinbuya-com-inter-black-21-font-style: normal;
  --www-sinbuya-com-inter-medium-12-59-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-12-59-font-weight: 500;
  --www-sinbuya-com-inter-medium-12-59-font-size: 12.59375px;
  --www-sinbuya-com-inter-medium-12-59-letter-spacing: 0px;
  --www-sinbuya-com-inter-medium-12-59-line-height: 17.940000534057617px;
  --www-sinbuya-com-inter-medium-12-59-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-16-45-strikethrough-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-16-45-strikethrough-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-16-45-strikethrough-font-size: 16.453125px;
  --www-sinbuya-com-inter-extra-bold-16-45-strikethrough-letter-spacing: 0px;
  --www-sinbuya-com-inter-extra-bold-16-45-strikethrough-line-height: 18px;
  --www-sinbuya-com-inter-extra-bold-16-45-strikethrough-font-style: normal;
  --www-sinbuya-com-inter-black-20-84-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-black-20-84-font-weight: 900;
  --www-sinbuya-com-inter-black-20-84-font-size: 20.8359375px;
  --www-sinbuya-com-inter-black-20-84-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-black-20-84-line-height: 23.100000381469727px;
  --www-sinbuya-com-inter-black-20-84-font-style: normal;
  --www-sinbuya-com-inter-medium-12-7-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-12-7-font-weight: 500;
  --www-sinbuya-com-inter-medium-12-7-font-size: 12.6953125px;
  --www-sinbuya-com-inter-medium-12-7-letter-spacing: 0px;
  --www-sinbuya-com-inter-medium-12-7-line-height: 17.940000534057617px;
  --www-sinbuya-com-inter-medium-12-7-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-17-72-strikethrough-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-17-72-strikethrough-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-17-72-strikethrough-font-size: 17.71875px;
  --www-sinbuya-com-inter-extra-bold-17-72-strikethrough-letter-spacing: 0px;
  --www-sinbuya-com-inter-extra-bold-17-72-strikethrough-line-height: 18px;
  --www-sinbuya-com-inter-extra-bold-17-72-strikethrough-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-16-88-strikethrough-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-16-88-strikethrough-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-16-88-strikethrough-font-size: 16.875px;
  --www-sinbuya-com-inter-extra-bold-16-88-strikethrough-letter-spacing: 0px;
  --www-sinbuya-com-inter-extra-bold-16-88-strikethrough-line-height: 18px;
  --www-sinbuya-com-inter-extra-bold-16-88-strikethrough-font-style: normal;
  --www-sinbuya-com-inter-medium-20-51-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-20-51-font-weight: 500;
  --www-sinbuya-com-inter-medium-20-51-font-size: 20.5078125px;
  --www-sinbuya-com-inter-medium-20-51-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-20-51-line-height: 23.100000381469727px;
  --www-sinbuya-com-inter-medium-20-51-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-17-02-strikethrough-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-17-02-strikethrough-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-17-02-strikethrough-font-size: 17.015625px;
  --www-sinbuya-com-inter-extra-bold-17-02-strikethrough-letter-spacing: 0px;
  --www-sinbuya-com-inter-extra-bold-17-02-strikethrough-line-height: 18px;
  --www-sinbuya-com-inter-extra-bold-17-02-strikethrough-font-style: normal;
  --www-sinbuya-com-inter-medium-12-49-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-12-49-font-weight: 500;
  --www-sinbuya-com-inter-medium-12-49-font-size: 12.4921875px;
  --www-sinbuya-com-inter-medium-12-49-letter-spacing: 0px;
  --www-sinbuya-com-inter-medium-12-49-line-height: 17.940000534057617px;
  --www-sinbuya-com-inter-medium-12-49-font-style: normal;
  --www-sinbuya-com-inter-regular-16-95-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-16-95-font-weight: 400;
  --www-sinbuya-com-inter-regular-16-95-font-size: 16.953125px;
  --www-sinbuya-com-inter-regular-16-95-letter-spacing: -1.0499999523162842px;
  --www-sinbuya-com-inter-regular-16-95-line-height: 20.479999542236328px;
  --www-sinbuya-com-inter-regular-16-95-font-style: normal;
  --www-sinbuya-com-inter-medium-23-63-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-23-63-font-weight: 500;
  --www-sinbuya-com-inter-medium-23-63-font-size: 23.625px;
  --www-sinbuya-com-inter-medium-23-63-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-23-63-line-height: 36px;
  --www-sinbuya-com-inter-medium-23-63-font-style: normal;
  --www-sinbuya-com-inter-bold-23-63-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-23-63-font-weight: 700;
  --www-sinbuya-com-inter-bold-23-63-font-size: 23.625px;
  --www-sinbuya-com-inter-bold-23-63-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-23-63-line-height: 36px;
  --www-sinbuya-com-inter-bold-23-63-font-style: normal;
  --www-sinbuya-com-inter-medium-22-69-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-22-69-font-weight: 500;
  --www-sinbuya-com-inter-medium-22-69-font-size: 22.6875px;
  --www-sinbuya-com-inter-medium-22-69-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-22-69-line-height: 36px;
  --www-sinbuya-com-inter-medium-22-69-font-style: normal;
  --www-sinbuya-com-inter-bold-22-69-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-22-69-font-weight: 700;
  --www-sinbuya-com-inter-bold-22-69-font-size: 22.6875px;
  --www-sinbuya-com-inter-bold-22-69-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-22-69-line-height: 36px;
  --www-sinbuya-com-inter-bold-22-69-font-style: normal;
  --www-sinbuya-com-inter-black-23-06-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-black-23-06-font-weight: 900;
  --www-sinbuya-com-inter-black-23-06-font-size: 23.0625px;
  --www-sinbuya-com-inter-black-23-06-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-black-23-06-line-height: 26.399999618530273px;
  --www-sinbuya-com-inter-black-23-06-font-style: normal;
  --www-sinbuya-com-inter-medium-21-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-21-font-weight: 500;
  --www-sinbuya-com-inter-medium-21-font-size: 21px;
  --www-sinbuya-com-inter-medium-21-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-21-line-height: 23.100000381469727px;
  --www-sinbuya-com-inter-medium-21-font-style: normal;
  --www-sinbuya-com-inter-medium-18-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-18-font-weight: 500;
  --www-sinbuya-com-inter-medium-18-font-size: 18px;
  --www-sinbuya-com-inter-medium-18-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-18-line-height: 18px;
  --www-sinbuya-com-inter-medium-18-font-style: normal;
  --www-sinbuya-com-inter-black-18-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-black-18-font-weight: 900;
  --www-sinbuya-com-inter-black-18-font-size: 18px;
  --www-sinbuya-com-inter-black-18-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-black-18-line-height: 18px;
  --www-sinbuya-com-inter-black-18-font-style: normal;
  --www-sinbuya-com-inter-black-30-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-black-30-font-weight: 900;
  --www-sinbuya-com-inter-black-30-font-size: 30px;
  --www-sinbuya-com-inter-black-30-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-black-30-line-height: 30px;
  --www-sinbuya-com-inter-black-30-font-style: normal;
  --www-sinbuya-com-inter-bold-17-72-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-17-72-font-weight: 700;
  --www-sinbuya-com-inter-bold-17-72-font-size: 17.71875px;
  --www-sinbuya-com-inter-bold-17-72-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-17-72-line-height: 18px;
  --www-sinbuya-com-inter-bold-17-72-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-14-53-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-14-53-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-14-53-font-size: 14.53125px;
  --www-sinbuya-com-inter-extra-bold-14-53-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-14-53-line-height: 22.5px;
  --www-sinbuya-com-inter-extra-bold-14-53-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-14-41-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-14-41-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-14-41-font-size: 14.4140625px;
  --www-sinbuya-com-inter-extra-bold-14-41-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-14-41-line-height: 22.5px;
  --www-sinbuya-com-inter-extra-bold-14-41-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-14-77-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-14-77-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-14-77-font-size: 14.765625px;
  --www-sinbuya-com-inter-extra-bold-14-77-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-14-77-line-height: 22.5px;
  --www-sinbuya-com-inter-extra-bold-14-77-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-15-88-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-15-88-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-15-88-font-size: 15.875px;
  --www-sinbuya-com-inter-extra-bold-15-88-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-15-88-line-height: 17.600000381469727px;
  --www-sinbuya-com-inter-extra-bold-15-88-font-style: normal;
  --www-sinbuya-com-inter-bold-20-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-20-font-weight: 700;
  --www-sinbuya-com-inter-bold-20-font-size: 20px;
  --www-sinbuya-com-inter-bold-20-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-20-line-height: 30px;
  --www-sinbuya-com-inter-bold-20-font-style: normal;
  --www-sinbuya-com-inter-bold-14-65-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-14-65-font-weight: 700;
  --www-sinbuya-com-inter-bold-14-65-font-size: 14.6484375px;
  --www-sinbuya-com-inter-bold-14-65-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-14-65-line-height: 18px;
  --www-sinbuya-com-inter-bold-14-65-font-style: normal;
  --www-sinbuya-com-inter-bold-12-49-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-12-49-font-weight: 700;
  --www-sinbuya-com-inter-bold-12-49-font-size: 12.4921875px;
  --www-sinbuya-com-inter-bold-12-49-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-12-49-line-height: 19.5px;
  --www-sinbuya-com-inter-bold-12-49-font-style: normal;
  --www-sinbuya-com-inter-medium-14-77-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-14-77-font-weight: 500;
  --www-sinbuya-com-inter-medium-14-77-font-size: 14.765625px;
  --www-sinbuya-com-inter-medium-14-77-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-14-77-line-height: 15px;
  --www-sinbuya-com-inter-medium-14-77-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-15-63-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-15-63-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-15-63-font-size: 15.625px;
  --www-sinbuya-com-inter-extra-bold-15-63-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-15-63-line-height: 17.600000381469727px;
  --www-sinbuya-com-inter-extra-bold-15-63-font-style: normal;
  --www-sinbuya-com-inter-bold-12-39-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-12-39-font-weight: 700;
  --www-sinbuya-com-inter-bold-12-39-font-size: 12.390625px;
  --www-sinbuya-com-inter-bold-12-39-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-12-39-line-height: 19.5px;
  --www-sinbuya-com-inter-bold-12-39-font-style: normal;
  --www-sinbuya-com-inter-medium-14-88-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-14-88-font-weight: 500;
  --www-sinbuya-com-inter-medium-14-88-font-size: 14.8828125px;
  --www-sinbuya-com-inter-medium-14-88-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-14-88-line-height: 15px;
  --www-sinbuya-com-inter-medium-14-88-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-15-5-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-15-5-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-15-5-font-size: 15.5px;
  --www-sinbuya-com-inter-extra-bold-15-5-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-15-5-line-height: 17.600000381469727px;
  --www-sinbuya-com-inter-extra-bold-15-5-font-style: normal;
  --www-sinbuya-com-inter-bold-15-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-15-font-weight: 700;
  --www-sinbuya-com-inter-bold-15-font-size: 15px;
  --www-sinbuya-com-inter-bold-15-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-15-line-height: 18px;
  --www-sinbuya-com-inter-bold-15-font-style: normal;
  --www-sinbuya-com-inter-medium-15-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-15-font-weight: 500;
  --www-sinbuya-com-inter-medium-15-font-size: 15px;
  --www-sinbuya-com-inter-medium-15-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-15-line-height: 15px;
  --www-sinbuya-com-inter-medium-15-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-16-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-16-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-16-font-size: 16px;
  --www-sinbuya-com-inter-extra-bold-16-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-16-line-height: 17.600000381469727px;
  --www-sinbuya-com-inter-extra-bold-16-font-style: normal;
  --www-sinbuya-com-inter-bold-12-8-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-12-8-font-weight: 700;
  --www-sinbuya-com-inter-bold-12-8-font-size: 12.796875px;
  --www-sinbuya-com-inter-bold-12-8-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-12-8-line-height: 19.5px;
  --www-sinbuya-com-inter-bold-12-8-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-23-06-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-23-06-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-23-06-font-size: 23.0625px;
  --www-sinbuya-com-inter-extra-bold-23-06-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-23-06-line-height: 26.399999618530273px;
  --www-sinbuya-com-inter-extra-bold-23-06-font-style: normal;
  --www-sinbuya-com-inter-extra-bold-23-25-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-extra-bold-23-25-font-weight: 800;
  --www-sinbuya-com-inter-extra-bold-23-25-font-size: 23.25px;
  --www-sinbuya-com-inter-extra-bold-23-25-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-extra-bold-23-25-line-height: 24px;
  --www-sinbuya-com-inter-extra-bold-23-25-font-style: normal;
  --www-sinbuya-com-inter-black-23-44-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-black-23-44-font-weight: 900;
  --www-sinbuya-com-inter-black-23-44-font-size: 23.4375px;
  --www-sinbuya-com-inter-black-23-44-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-black-23-44-line-height: 26.399999618530273px;
  --www-sinbuya-com-inter-black-23-44-font-style: normal;
  --www-sinbuya-com-inter-medium-14-65-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-14-65-font-weight: 500;
  --www-sinbuya-com-inter-medium-14-65-font-size: 14.6484375px;
  --www-sinbuya-com-inter-medium-14-65-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-14-65-line-height: 22.5px;
  --www-sinbuya-com-inter-medium-14-65-font-style: normal;
  --www-sinbuya-com-inter-medium-16-73-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-16-73-font-weight: 500;
  --www-sinbuya-com-inter-medium-16-73-font-size: 16.734375px;
  --www-sinbuya-com-inter-medium-16-73-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-16-73-line-height: 22.100000381469727px;
  --www-sinbuya-com-inter-medium-16-73-font-style: normal;
  --www-sinbuya-com-inter-regular-21-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-21-font-weight: 400;
  --www-sinbuya-com-inter-regular-21-font-size: 21px;
  --www-sinbuya-com-inter-regular-21-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-regular-21-line-height: 22px;
  --www-sinbuya-com-inter-regular-21-font-style: normal;
  --www-sinbuya-com-inter-bold-14-77-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-bold-14-77-font-weight: 700;
  --www-sinbuya-com-inter-bold-14-77-font-size: 14.765625px;
  --www-sinbuya-com-inter-bold-14-77-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-bold-14-77-line-height: 15px;
  --www-sinbuya-com-inter-bold-14-77-font-style: normal;
  --www-sinbuya-com-inter-medium-16-6-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-16-6-font-weight: 500;
  --www-sinbuya-com-inter-medium-16-6-font-size: 16.6015625px;
  --www-sinbuya-com-inter-medium-16-6-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-16-6-line-height: 22.100000381469727px;
  --www-sinbuya-com-inter-medium-16-6-font-style: normal;
  --www-sinbuya-com-inter-regular-20-67-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-20-67-font-weight: 400;
  --www-sinbuya-com-inter-regular-20-67-font-size: 20.671875px;
  --www-sinbuya-com-inter-regular-20-67-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-regular-20-67-line-height: 22px;
  --www-sinbuya-com-inter-regular-20-67-font-style: normal;
  --www-sinbuya-com-inter-medium-16-47-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-16-47-font-weight: 500;
  --www-sinbuya-com-inter-medium-16-47-font-size: 16.46875px;
  --www-sinbuya-com-inter-medium-16-47-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-medium-16-47-line-height: 22.100000381469727px;
  --www-sinbuya-com-inter-medium-16-47-font-style: normal;
  --www-sinbuya-com-inter-regular-20-51-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-regular-20-51-font-weight: 400;
  --www-sinbuya-com-inter-regular-20-51-font-size: 20.5078125px;
  --www-sinbuya-com-inter-regular-20-51-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-inter-regular-20-51-line-height: 22px;
  --www-sinbuya-com-inter-regular-20-51-font-style: normal;
  --www-sinbuya-com-inter-medium-14-19-underline-font-family: "Inter", Helvetica;
  --www-sinbuya-com-inter-medium-14-19-underline-font-weight: 500;
  --www-sinbuya-com-inter-medium-14-19-underline-font-size: 14.188281059265137px;
  --www-sinbuya-com-inter-medium-14-19-underline-letter-spacing: -1.5px;
  --www-sinbuya-com-inter-medium-14-19-underline-line-height: 21px;
  --www-sinbuya-com-inter-medium-14-19-underline-font-style: normal;
  --www-sinbuya-com-noto-sans-display-regular-15-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-regular-15-font-weight: 400;
  --www-sinbuya-com-noto-sans-display-regular-15-font-size: 15px;
  --www-sinbuya-com-noto-sans-display-regular-15-letter-spacing: -0.8999999761581421px;
  --www-sinbuya-com-noto-sans-display-regular-15-line-height: 19.049999237060547px;
  --www-sinbuya-com-noto-sans-display-regular-15-font-style: normal;
  --www-sinbuya-com-noto-sans-display-regular-14-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-regular-14-font-weight: 400;
  --www-sinbuya-com-noto-sans-display-regular-14-font-size: 14px;
  --www-sinbuya-com-noto-sans-display-regular-14-letter-spacing: 0px;
  --www-sinbuya-com-noto-sans-display-regular-14-line-height: normal;
  --www-sinbuya-com-noto-sans-display-regular-14-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-26-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-26-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-26-font-size: 26px;
  --www-sinbuya-com-noto-sans-display-medium-26-letter-spacing: -1px;
  --www-sinbuya-com-noto-sans-display-medium-26-line-height: 28.600000381469727px;
  --www-sinbuya-com-noto-sans-display-medium-26-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-13-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-13-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-13-font-size: 13px;
  --www-sinbuya-com-noto-sans-display-medium-13-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-medium-13-line-height: 22px;
  --www-sinbuya-com-noto-sans-display-medium-13-font-style: normal;
  --www-sinbuya-com-noto-sans-black-13-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-black-13-font-weight: 900;
  --www-sinbuya-com-noto-sans-black-13-font-size: 13px;
  --www-sinbuya-com-noto-sans-black-13-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-black-13-line-height: 19.5px;
  --www-sinbuya-com-noto-sans-black-13-font-style: normal;
  --www-sinbuya-com-noto-sans-display-semibold-13-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-semibold-13-font-weight: 600;
  --www-sinbuya-com-noto-sans-display-semibold-13-font-size: 13px;
  --www-sinbuya-com-noto-sans-display-semibold-13-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-semibold-13-line-height: 19.5px;
  --www-sinbuya-com-noto-sans-display-semibold-13-font-style: normal;
  --www-sinbuya-com-noto-sans-bold-13-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-bold-13-font-weight: 700;
  --www-sinbuya-com-noto-sans-bold-13-font-size: 13px;
  --www-sinbuya-com-noto-sans-bold-13-letter-spacing: 0px;
  --www-sinbuya-com-noto-sans-bold-13-line-height: 16.25px;
  --www-sinbuya-com-noto-sans-bold-13-font-style: normal;
  --www-sinbuya-com-noto-sans-display-regular-13-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-regular-13-font-weight: 400;
  --www-sinbuya-com-noto-sans-display-regular-13-font-size: 13px;
  --www-sinbuya-com-noto-sans-display-regular-13-letter-spacing: 0px;
  --www-sinbuya-com-noto-sans-display-regular-13-line-height: normal;
  --www-sinbuya-com-noto-sans-display-regular-13-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-11-7-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-11-7-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-11-7-font-size: 11.699999809265137px;
  --www-sinbuya-com-noto-sans-display-medium-11-7-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-medium-11-7-line-height: 17.549999237060547px;
  --www-sinbuya-com-noto-sans-display-medium-11-7-font-style: normal;
  --www-sinbuya-com-noto-sans-bold-11-7-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-bold-11-7-font-weight: 700;
  --www-sinbuya-com-noto-sans-bold-11-7-font-size: 11.699999809265137px;
  --www-sinbuya-com-noto-sans-bold-11-7-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-bold-11-7-line-height: 17.549999237060547px;
  --www-sinbuya-com-noto-sans-bold-11-7-font-style: normal;
  --www-sinbuya-com-noto-sans-display-extrabold-20-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-extrabold-20-font-weight: 800;
  --www-sinbuya-com-noto-sans-display-extrabold-20-font-size: 20px;
  --www-sinbuya-com-noto-sans-display-extrabold-20-letter-spacing: -1px;
  --www-sinbuya-com-noto-sans-display-extrabold-20-line-height: 25px;
  --www-sinbuya-com-noto-sans-display-extrabold-20-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-22-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-22-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-22-font-size: 22px;
  --www-sinbuya-com-noto-sans-display-medium-22-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-medium-22-line-height: 25px;
  --www-sinbuya-com-noto-sans-display-medium-22-font-style: normal;
  --www-sinbuya-com-noto-sans-bold-22-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-bold-22-font-weight: 700;
  --www-sinbuya-com-noto-sans-bold-22-font-size: 22px;
  --www-sinbuya-com-noto-sans-bold-22-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-bold-22-line-height: 25px;
  --www-sinbuya-com-noto-sans-bold-22-font-style: normal;
  --www-sinbuya-com-noto-sans-display-extrabold-18-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-extrabold-18-font-weight: 800;
  --www-sinbuya-com-noto-sans-display-extrabold-18-font-size: 18px;
  --www-sinbuya-com-noto-sans-display-extrabold-18-letter-spacing: 0px;
  --www-sinbuya-com-noto-sans-display-extrabold-18-line-height: normal;
  --www-sinbuya-com-noto-sans-display-extrabold-18-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-15-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-15-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-15-font-size: 15px;
  --www-sinbuya-com-noto-sans-display-medium-15-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-medium-15-line-height: 17px;
  --www-sinbuya-com-noto-sans-display-medium-15-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-11-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-11-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-11-font-size: 11px;
  --www-sinbuya-com-noto-sans-display-medium-11-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-medium-11-line-height: 16.5px;
  --www-sinbuya-com-noto-sans-display-medium-11-font-style: normal;
  --www-sinbuya-com-noto-sans-bold-12-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-bold-12-font-weight: 700;
  --www-sinbuya-com-noto-sans-bold-12-font-size: 12px;
  --www-sinbuya-com-noto-sans-bold-12-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-bold-12-line-height: 18px;
  --www-sinbuya-com-noto-sans-bold-12-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-34-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-34-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-34-font-size: 34px;
  --www-sinbuya-com-noto-sans-display-medium-34-letter-spacing: -3px;
  --www-sinbuya-com-noto-sans-display-medium-34-line-height: 51px;
  --www-sinbuya-com-noto-sans-display-medium-34-font-style: normal;
  --www-sinbuya-com-noto-sans-bold-15-6-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-bold-15-6-font-weight: 700;
  --www-sinbuya-com-noto-sans-bold-15-6-font-size: 15.600000381469727px;
  --www-sinbuya-com-noto-sans-bold-15-6-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-bold-15-6-line-height: 23.399999618530273px;
  --www-sinbuya-com-noto-sans-bold-15-6-font-style: normal;
  --www-sinbuya-com-noto-sans-display-extrabold-16-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-extrabold-16-font-weight: 800;
  --www-sinbuya-com-noto-sans-display-extrabold-16-font-size: 16px;
  --www-sinbuya-com-noto-sans-display-extrabold-16-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-extrabold-16-line-height: 24px;
  --www-sinbuya-com-noto-sans-display-extrabold-16-font-style: normal;
  --www-sinbuya-com-noto-sans-display-medium-12-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-medium-12-font-weight: 500;
  --www-sinbuya-com-noto-sans-display-medium-12-font-size: 12px;
  --www-sinbuya-com-noto-sans-display-medium-12-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-medium-12-line-height: 18px;
  --www-sinbuya-com-noto-sans-display-medium-12-font-style: normal;
  --www-sinbuya-com-noto-sans-display-semibold-16-font-family: "Noto Sans", Helvetica;
  --www-sinbuya-com-noto-sans-display-semibold-16-font-weight: 600;
  --www-sinbuya-com-noto-sans-display-semibold-16-font-size: 16px;
  --www-sinbuya-com-noto-sans-display-semibold-16-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-noto-sans-display-semibold-16-line-height: 24px;
  --www-sinbuya-com-noto-sans-display-semibold-16-font-style: normal;
  --www-sinbuya-com-tahoma-bold-15-6-font-family: "Tahoma", Helvetica;
  --www-sinbuya-com-tahoma-bold-15-6-font-weight: 700;
  --www-sinbuya-com-tahoma-bold-15-6-font-size: 15.600000381469727px;
  --www-sinbuya-com-tahoma-bold-15-6-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-tahoma-bold-15-6-line-height: 40px;
  --www-sinbuya-com-tahoma-bold-15-6-font-style: normal;
  --www-sinbuya-com-tahoma-bold-11-font-family: "Tahoma", Helvetica;
  --www-sinbuya-com-tahoma-bold-11-font-weight: 700;
  --www-sinbuya-com-tahoma-bold-11-font-size: 11px;
  --www-sinbuya-com-tahoma-bold-11-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-tahoma-bold-11-line-height: 18px;
  --www-sinbuya-com-tahoma-bold-11-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-7-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-7-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-7-font-size: 12.6953125px;
  --www-sinbuya-com-malgun-gothic-regular-12-7-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-7-line-height: 13px;
  --www-sinbuya-com-malgun-gothic-regular-12-7-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-13-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-13-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-13-font-size: 13px;
  --www-sinbuya-com-malgun-gothic-regular-13-letter-spacing: 0px;
  --www-sinbuya-com-malgun-gothic-regular-13-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-regular-13-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-8-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-8-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-8-font-size: 12.796875px;
  --www-sinbuya-com-malgun-gothic-regular-12-8-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-8-line-height: 13px;
  --www-sinbuya-com-malgun-gothic-regular-12-8-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-19-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-19-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-19-font-size: 12.1875px;
  --www-sinbuya-com-malgun-gothic-regular-12-19-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-19-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-regular-12-19-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-9-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-9-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-9-font-size: 12.8984375px;
  --www-sinbuya-com-malgun-gothic-regular-12-9-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-9-line-height: 13px;
  --www-sinbuya-com-malgun-gothic-regular-12-9-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-12-9-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-12-9-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-12-9-font-size: 12.8984375px;
  --www-sinbuya-com-malgun-gothic-bold-12-9-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-12-9-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-bold-12-9-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-11-52-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-11-52-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-11-52-font-size: 11.517187118530273px;
  --www-sinbuya-com-malgun-gothic-regular-11-52-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-11-52-line-height: 20px;
  --www-sinbuya-com-malgun-gothic-regular-11-52-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-11-33-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-11-33-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-11-33-font-size: 11.33437442779541px;
  --www-sinbuya-com-malgun-gothic-regular-11-33-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-11-33-line-height: 20px;
  --www-sinbuya-com-malgun-gothic-regular-11-33-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-59-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-59-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-59-font-size: 12.59375px;
  --www-sinbuya-com-malgun-gothic-regular-12-59-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-59-line-height: 13px;
  --www-sinbuya-com-malgun-gothic-regular-12-59-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-12-39-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-12-39-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-12-39-font-size: 12.390625px;
  --www-sinbuya-com-malgun-gothic-bold-12-39-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-12-39-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-bold-12-39-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-39-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-39-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-39-font-size: 12.390625px;
  --www-sinbuya-com-malgun-gothic-regular-12-39-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-39-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-regular-12-39-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-19-85-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-19-85-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-19-85-font-size: 19.8515625px;
  --www-sinbuya-com-malgun-gothic-bold-19-85-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-19-85-line-height: 21px;
  --www-sinbuya-com-malgun-gothic-bold-19-85-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-12-7-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-12-7-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-12-7-font-size: 12.6953125px;
  --www-sinbuya-com-malgun-gothic-bold-12-7-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-12-7-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-bold-12-7-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-49-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-49-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-49-font-size: 12.4921875px;
  --www-sinbuya-com-malgun-gothic-regular-12-49-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-49-line-height: 13px;
  --www-sinbuya-com-malgun-gothic-regular-12-49-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-12-59-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-12-59-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-12-59-font-size: 12.59375px;
  --www-sinbuya-com-malgun-gothic-bold-12-59-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-12-59-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-bold-12-59-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-18-85-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-18-85-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-18-85-font-size: 18.8515625px;
  --www-sinbuya-com-malgun-gothic-regular-18-85-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-18-85-line-height: 22px;
  --www-sinbuya-com-malgun-gothic-regular-18-85-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-12-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-12-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-12-font-size: 12px;
  --www-sinbuya-com-malgun-gothic-regular-12-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-12-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-regular-12-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-11-63-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-11-63-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-11-63-font-size: 11.625px;
  --www-sinbuya-com-malgun-gothic-regular-11-63-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-11-63-line-height: 17px;
  --www-sinbuya-com-malgun-gothic-regular-11-63-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-10-69-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-10-69-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-10-69-font-size: 10.6875px;
  --www-sinbuya-com-malgun-gothic-regular-10-69-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-10-69-line-height: 17px;
  --www-sinbuya-com-malgun-gothic-regular-10-69-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-18-55-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-18-55-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-18-55-font-size: 18.5546875px;
  --www-sinbuya-com-malgun-gothic-regular-18-55-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-18-55-line-height: 22px;
  --www-sinbuya-com-malgun-gothic-regular-18-55-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-18-7-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-18-7-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-18-7-font-size: 18.703125px;
  --www-sinbuya-com-malgun-gothic-regular-18-7-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-18-7-line-height: 22px;
  --www-sinbuya-com-malgun-gothic-regular-18-7-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-96-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-96-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-96-font-size: 13.96484375px;
  --www-sinbuya-com-malgun-gothic-bold-13-96-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-96-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-bold-13-96-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-11-52-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-11-52-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-11-52-font-size: 11.517187118530273px;
  --www-sinbuya-com-malgun-gothic-bold-11-52-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-11-52-line-height: 20px;
  --www-sinbuya-com-malgun-gothic-bold-11-52-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-11-33-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-11-33-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-11-33-font-size: 11.33437442779541px;
  --www-sinbuya-com-malgun-gothic-bold-11-33-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-11-33-line-height: 20px;
  --www-sinbuya-com-malgun-gothic-bold-11-33-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-11-15-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-11-15-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-11-15-font-size: 11.151562690734863px;
  --www-sinbuya-com-malgun-gothic-regular-11-15-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-11-15-line-height: 20px;
  --www-sinbuya-com-malgun-gothic-regular-11-15-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-11-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-11-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-11-font-size: 11px;
  --www-sinbuya-com-malgun-gothic-bold-11-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-11-line-height: 16.5px;
  --www-sinbuya-com-malgun-gothic-bold-11-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-10-66-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-10-66-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-10-66-font-size: 10.65625px;
  --www-sinbuya-com-malgun-gothic-bold-10-66-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-10-66-line-height: 16.5px;
  --www-sinbuya-com-malgun-gothic-bold-10-66-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-14-08-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-14-08-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-14-08-font-size: 14.076562881469727px;
  --www-sinbuya-com-malgun-gothic-bold-14-08-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-14-08-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-bold-14-08-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-14-19-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-14-19-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-14-19-font-size: 14.188281059265137px;
  --www-sinbuya-com-malgun-gothic-bold-14-19-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-14-19-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-bold-14-19-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-14-3-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-14-3-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-14-3-font-size: 14.300000190734863px;
  --www-sinbuya-com-malgun-gothic-bold-14-3-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-14-3-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-bold-14-3-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-19-35-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-19-35-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-19-35-font-size: 19.34765625px;
  --www-sinbuya-com-malgun-gothic-bold-19-35-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-19-35-line-height: 21.450000762939453px;
  --www-sinbuya-com-malgun-gothic-bold-19-35-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-12-8-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-12-8-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-12-8-font-size: 12.796875px;
  --www-sinbuya-com-malgun-gothic-bold-12-8-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-12-8-line-height: 19.5px;
  --www-sinbuya-com-malgun-gothic-bold-12-8-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-67-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-67-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-67-font-size: 13.671875px;
  --www-sinbuya-com-malgun-gothic-bold-13-67-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-67-line-height: 21px;
  --www-sinbuya-com-malgun-gothic-bold-13-67-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-30-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-30-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-30-font-size: 30px;
  --www-sinbuya-com-malgun-gothic-bold-30-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-30-line-height: 45px;
  --www-sinbuya-com-malgun-gothic-bold-30-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-45-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-45-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-45-font-size: 13.453125px;
  --www-sinbuya-com-malgun-gothic-bold-13-45-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-45-line-height: 21px;
  --www-sinbuya-com-malgun-gothic-bold-13-45-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-78-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-78-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-78-font-size: 13.78125px;
  --www-sinbuya-com-malgun-gothic-bold-13-78-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-78-line-height: 21px;
  --www-sinbuya-com-malgun-gothic-bold-13-78-font-style: normal;
  --www-sinbuya-com-malgun-gothic-regular-11-7-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-regular-11-7-font-weight: 400;
  --www-sinbuya-com-malgun-gothic-regular-11-7-font-size: 11.699999809265137px;
  --www-sinbuya-com-malgun-gothic-regular-11-7-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-regular-11-7-line-height: 20px;
  --www-sinbuya-com-malgun-gothic-regular-11-7-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-89-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-89-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-89-font-size: 13.890625px;
  --www-sinbuya-com-malgun-gothic-bold-13-89-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-89-line-height: 21px;
  --www-sinbuya-com-malgun-gothic-bold-13-89-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-56-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-56-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-56-font-size: 13.5625px;
  --www-sinbuya-com-malgun-gothic-bold-13-56-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-56-line-height: 21px;
  --www-sinbuya-com-malgun-gothic-bold-13-56-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-29-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-29-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-29-font-size: 13.29453182220459px;
  --www-sinbuya-com-malgun-gothic-bold-13-29-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-29-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-bold-13-29-font-style: normal;
  --www-sinbuya-com-malgun-gothic-bold-13-85-font-family: "Malgun Gothic", Helvetica;
  --www-sinbuya-com-malgun-gothic-bold-13-85-font-weight: 700;
  --www-sinbuya-com-malgun-gothic-bold-13-85-font-size: 13.85312557220459px;
  --www-sinbuya-com-malgun-gothic-bold-13-85-letter-spacing: -0.30000001192092896px;
  --www-sinbuya-com-malgun-gothic-bold-13-85-line-height: 18px;
  --www-sinbuya-com-malgun-gothic-bold-13-85-font-style: normal;
}
